{% extends 'layout.html.twig' %}

{% block title %}Кабінет користувача{% endblock %}

{% block body %}
    <div class="our-service-area bg-grey pd-btm-50">
        <div class="container">
            <div class="container-header">
                <h3 class="container-title">Дослідження користувача {{ app.user.username }}:</h3>
                <hr>
            </div>
            <div class="container-body">
                {% if analysis is empty %}
                    <h3>Ви не опублікували жодного дослідження. Натисніть <a href="{{ path('analysis_add') }}" style="color: #FF8C0B;">додати</a> щоб додати нове дослідження.</h3>
                {% else %}
                    {% for analys in analysis %}
                        <div class="bird-container">
                            <div class="bird-image">
                                <img src="{{ asset('/uploads/analysis/' ~ analys.image) }}" alt="">
                            </div>
                            <div class="bird-data">
                                <div class="bird-title">
                                    <h3><a href="{{ path('single_analysis', {'analysis': analys.id}) }}">{{ analys.theme }}</a></h3>
                                </div>
                                <hr>
                                <p>{{ analys.description | slice(0, 50) }} ...</p>
                                <a href="{{ path('single_analysis', {'analysis': analys.id}) }}">Детальніше</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
