{% extends 'layout.html.twig' %}

{% block title %}Кабінет користувача{% endblock %}

{% block body %}
    <div class="our-service-area bg-grey pd-btm-50">
        <div class="container">
            <div class="container-header">
                <h3 class="container-title">Дослідження користувача {{ app.user.username }}:</h3>
                <hr>
            </div>
            <div class="container-body">
                {% for analys in analysis %}
                    <div class="bird-container">
                        <div class="bird-image">
                            <img src="{{ asset('/uploads/analysis/' ~ analys.image) }}" alt="">
                        </div>
                        <div class="bird-data">
                            <div class="bird-title">
                                <h3><a href="{{ path('single_analysis', {'analysis': analys.id}) }}">{{ analys.theme }}</a></h3>
                            </div>
                            <hr>
                            <p>{{ analys.description | slice(0, 50) }} ...</p>
                            <a href="{{ path('single_analysis', {'analysis': analys.id}) }}">Детальніше</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
