{% extends 'layout.html.twig' %}

{% block title %}Додаванян нового птаха{% endblock %}

{% block body %}
<div class="our-service-area bg-grey pd-btm-50">
    <div class="container">
        <div class="container-header">
            <h3 class="container-title">Додавання нового птаха до бази даних:</h3>
            <hr>
        </div>
        <div class="container-body">
            <div class="container-form">
                {{ form_start(form) }}

                {{ form_row(form.ecoGroup) }}
                {{ form_row(form.classification) }}
                {{ form_row(form.name) }}
                {{ form_row(form.image) }}

                <button type="submit" class="btn">Додати птаха</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}