{% extends 'layout.html.twig' %}

{% block title %}{{ bird.name }}{% endblock %}

{% block body %}
    <div class="our-service-area bg-grey pd-btm-50">
        <div class="container">
            <div class="container-header">
                <h3 class="container-title">"{{ bird.name }}"</h3>
            </div>
            <div class="container-body">
                <div class="bird-container-lg">
                    <div class="bird-image-lg">
                        <img src="{{ asset('/uploads/birds/' ~ bird.image) }}" alt="">
                    </div>
                    <div class="bird-data-lg">
                        <div class="bird-title-lg">
                            <h3>{{ bird.name }}</a></h3>
                        </div>
                        <hr>
                        <div class="bird-info-item-lg">
                            <h4><b>Номер кільцювання:</b> {{ bird.id }} </h4>
                        </div>
                        <div class="bird-info-item-lg">
                            <h4><b>Екологічна група:</b> {{ bird.ecoGroup.name }} (<b>Детальний опис групи:</b> {{ bird.ecoGroup.description }})</h4>
                        </div>
                        <div class="bird-info-item-lg">
                            <h4><b>Класифікація:</b> {{ bird.classification.name }} (<b>Характеристика класу:</b> {{ bird.classification.characteristic }})</h4>
                        </div>
                        <div class="bird-info-item-lg">
                            <h4><b>Кількість зон популяції:</b> {{ populationPoints|length }}</h4>
                        </div>
                        <div class="bird-info-item-lg">
                            <h4><b>Загальна популяція:</b> ≈{{ populationSum }} (особин)</h4>
                        </div>
                    </div>
                    <hr>
                    <div class="container-header">
                        <h3 class="container-title">Ареал існування:</h3>
                    </div>
                    <div class="map-container">
                        <img src="{{ asset('images/cherkassy_map.png') }}" alt="Cherkassy">
                        {% for point in populationPoints %}
                            <i id="center-polygon-alt"
                               class="fa fa-map-marker-alt"
                               style="top: {{ point.pointY }}px; left: {{ point.pointX }}px;">
                                {{ point.population }}
                            </i>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}