{% extends 'base.html.twig' %}

{% block header %}
<div class="main-wrapper">
    <div class="header-area">
        <div class="header-bottom-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-menu-wrap border-top-1">
                            <div class="main-menu">
                                <nav class="main-navigation">
                                    <ul>
                                        <li class="active">
                                            <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Головна</a>
                                        </li>
                                         <li>
                                            <a href="{{ path('schedule') }}"><i class="fa fa-list-alt"></i> Розклад руху</a>
                                        </li>
                                        {% if app.user %}
                                            <li>
                                                 <a href="" class="user-edit-menu"><i class="fa fa-user"></i> Дії користувача</a>
                                                 <ul class="sub-menu">
                                                    <li><a href="{{ path('ticket_new')}}"><i class="fa fa-ticket" style="color: #0062cc;"></i> Бронювання квитків</a></li>
                                                 </ul>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                            {% if app.user %}
                            <div class="main-menu">
                                 <nav class="main-navigation">
                                     <ul>
                                         <li class="active"><a href=""><i class="fa fa-user"></i> {{ app.user.username }}</a>
                                             <ul class="sub-menu">
                                             <li><a href="{{ path('user_panel')}}"><i class="fa fa-id-card" style="color: #fb7832;"></i> Кабінет користувача</a></li>
                                                 <li><a href="{{ path('app_logout')}}"><i class="fa fa-sign-out" style="color: #fb7832;"></i> Вихід</a></li>
                                              </ul>
                                         </li>
                                     </ul>
                                 </nav>
                            </div>
                                {% else %}
                                    <div class="main-menu">
                                        <nav class="main-navigation">
                                            <ul>
                                                <li class="active"><a href="#"><i class="fa fa-sign-in"></i> Увійти</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="{{ path('app_login') }}"><i class="fa fa-sign-in" style="color: #fb7832;"></i> Авторизація</a></li>
                                                        <li><a href="{{ path('app_register')}}"><i class="fa fa-registered" style="color: #fb7832;"></i> Реєстрація</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="mobile-menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
       <footer class="footer-area">
        <div class="footer-top pt--50 pb--100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="footer-info mt--60">
                            <p>Черкаський залізничний вокзал імені Богдана Хмельницького.</p>
                            <ul class="social">
                                <li><a href=""><i class="icofont-facebook"></i></a></li>
                                <li><a href=""><i class="icofont-google-plus"></i></a></li>
                                <li><a href=""><i class="icofont-twitter"></i></a></li>
                                <li><a href=""><i class="icofont-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info mt--60">
                            <div class="footer-title">
                                <h3>Посилання</h3>
                            </div>
                            <ul class="footer-list">
                                <li><a href="{{ path('homepage') }}">Домашня сторінка</a></li>
                                <li><a href="{{ path('schedule') }}">Розклад руху</a></li>
                                <li><a href="{{ path('ticket_new') }}">Бронювання квитків</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info mt--60">
                            <div class="footer-title">
                                <h3>Контакти</h3>
                            </div>
                            <ul class="footer-list">
                                <li>Черкаси, Черкаська область, 18000</li>
                                <li><a href="#"><i class="fa fa-mail-bulk"></i> trains_test@cdu.edu.ua</a></li>
                                <li><a href="#"><i class="fa fa-phone-alt"></i>  (0472) 14-14-144</a></li>
                                <li><a href="#"><i class="fa fa-link"></i> C2GX+9X Черкаси, Черкаська область</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-bottom-inner text-center">
                            <p>Copyright &copy; Cherkassy 2020 All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}