{% extends 'layout.html.twig' %}

{% block title %}Додаванян нового регіону{% endblock %}

{% block body %}
<div class="our-service-area bg-grey">
    <div class="container">
        <div class="container-header">
            <h3 class="container-title">Додавання нового регіону:</h3>
            <p class="container-description">
                Слідуйте інструкції по коректному заповненню форми, в тому числі  <b>виділення області</b> на карті та <b>точок базування</b>, для перегляду інформації про вже існуючі зони виділіть флажком опцію <b>НАТИСНУТИ ДЛЯ ВІЛЬНОГО ПЕРЕГЛЯДУ БЕЗ ВИДІЛЕННЯ ЗОНИ!</b>!
            </p>
            <hr>
        </div>
        <div class="container-body">
            <h4 class="container-body-header">Карта області:</h4>
            <p class="container-body-comment">
                Алгоритм заповнення карти:
            </p>
            <ol>
                <li>Методом точкового виділення виділити область</li>
                <li>Увімкнути флажок встановлення координат - встановити ценр зони</li>
                <li>Заповнити відповідні поля форми</li>
                <li>Натиснути кнопку "Додати регіон"</li>
            </ol>
            <div class="block-with-checkbox">
                <input type="checkbox" id="checkbox-for-map-point">
                <label for="checkbox-for-map-point"> НАТИСНУТИ ДЛЯ ВСТАНОВЛЕННЯ ЦЕНТРУ ЗОНИ</label><br>

                <input type="checkbox" id="checkbox-for-free">
                <label for="checkbox-for-free"> НАТИСНУТИ ДЛЯ ВІЛЬНОГО ПЕРЕГЛЯДУ БЕЗ ВИДІЛЕННЯ ЗОНИ!</label><br>

                <a id="clear-polygon" class="default-btn border-radius" style="margin: 0; padding: 0 10px">Очистити полігон</a>
            </div>
            <div class="map-container">
                <img src="{{ asset('images/cherkassy_map.png') }}" alt="Cherkassy">
                <svg id="coordinate-svg" class="map-svg" width="1200" height="1000" >
                    <polygon id="active-polygon" points=""></polygon>
                    {% for region in regionList %}
                        <polygon data-id="{{ region.id }}" points="{{ region.polygon }}"></polygon>
                    {% endfor %}
                </svg>
                <i id="center-polygon" class="fa fa-map-marker-alt"></i>

                {% for region in regionList %}
                    <div class="scheme-item" data-id="{{ region.id }}" style="top: {{ region.pointX }}px; left: {{ region.pointY }}px;">
                        <div class="scheme-name">{{ region.name }}</div>
                        <div class="scheme-popup">
                            <img class="scheme-image" src="{{ asset('/uploads/region/' ~ region.image) }}" alt="{{ region.name }}">
                            <hr>
                            <p>
                                <b>Площа:</b> {{ region.area }}
                            </p>
                            <p>
                                <b>Клімат:</b> {{ region.climate | slice(0, 100)}}
                            </p>
                            <p>
                                <b>Грунти:</b> {{ region.soilChar | slice(0, 100)}}
                            </p>
                            <p>
                                <b>Тварини:</b> {{ region.animalChar | slice(0, 100)}}
                            </p>
                            <p>
                                <b>Рослини:</b> {{ region.plantsChar | slice(0, 100)}}
                            </p>
                            <div class="make-apoinment-button btn-centered">
                                <a href="{{ path('single_region', {'region': region.id}) }}" class="default-btn border-radius">Детально про зону</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <hr>
        <div class="container-body pd-btm-50">
            <h4 class="container-body-header">Форма додавання:</h4>
            <div class="container-form">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.area) }}
                {{ form_row(form.climate) }}
                {{ form_row(form.soilChar) }}
                {{ form_row(form.animalChar) }}
                {{ form_row(form.plantsChar) }}
                {{ form_row(form.image) }}
                {{ form_row(form.polygon) }}
                {{ form_row(form.pointX) }}
                {{ form_row(form.pointY) }}

                <button type="submit" class="btn">Додати регіон</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/map.js') }}"></script>
{% endblock %}