{% extends 'layout.html.twig' %}

{% block title %}База даних регіонів{% endblock %}

{% block body %}
<div class="our-service-area bg-grey">
    <div class="container">
        <div class="container-header">
            <h3 class="container-title">База регіонів дослідження</h3>
            <hr>
        </div>
        <div class="container-body">
            <div class="map-container">
                <img src="{{ asset('images/cherkassy_map.png') }}" alt="Cherkassy">
                <svg id="coordinate-svg" class="map-svg" width="1200" height="1000">
                    <polygon id="polygon" points=""></polygon>
                    {% for region in regionList %}
                        <polygon data-id="{{ region.id }}" points="{{ region.polygon }}"></polygon>
                    {% endfor %}
                </svg>

                {% for region in regionList %}
                    <div class="scheme-item" data-id="{{ region.id }}" style="top: {{ region.pointY }}px; left: {{ region.pointX }}px;">
                        <div class="scheme-name">{{ region.name }}</div>
                        <div class="scheme-popup">
                            <img class="scheme-image" src="{{ asset('/uploads/region/' ~ region.image) }}" alt="{{ region.name }}">
                            <hr>
                            <p>
                                <b>Площа:</b> {{ region.area }}
                            </p>
                            <p>
                                <b>Клімат:</b> {{ region.climate | slice(0, 100)}} ...
                            </p>
                            <p>
                                <b>Грунти:</b> {{ region.soilChar | slice(0, 100)}} ...
                            </p>
                            <p>
                                <b>Тварини:</b> {{ region.animalChar | slice(0, 100)}} ...
                            </p>
                            <p>
                                <b>Рослини:</b> {{ region.plantsChar | slice(0, 100)}} ...
                            </p>
                            <div class="make-apoinment-button btn-centered">
                                <a href="{{ path('single_region', {'region': region.id}) }}" class="default-btn border-radius">Детально про зону</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/map.js') }}"></script>
{% endblock %}