{% extends 'layout.html.twig' %}

{% block title %}Додаванян нового регіону{% endblock %}

{% block body %}
    <div class="our-service-area bg-grey">
        <div class="container">
            <div class="container-header">
                <h3 class="container-title">Детально про регіон "{{ region.name }}":</h3>
                <hr>
            </div>
            <div class="container-body">
                <h4 class="container-body-header">Повна інформація:</h4>
                <div class="repair-make-area">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="repair-service-inner">
                                    <p>
                                        <b>Площа:</b> {{ region.area }}
                                    </p>
                                    <p>
                                        <b>Клімат:</b> {{ region.climate }}
                                    </p>
                                    <p>
                                        <b>Грунти:</b> {{ region.soilChar }}
                                    </p>
                                    <p>
                                        <b>Тварини:</b> {{ region.animalChar }}
                                    </p>
                                    <p>
                                        <b>Рослини:</b> {{ region.plantsChar }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="repair-image pt--30">
                                    <img src="{{ asset('/uploads/region/' ~ region.image) }}" alt="{{ region.name }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container-body">
                <div class="map-container">
                    <img src="{{ asset('images/cherkassy_map.png') }}" alt="Cherkassy">
                    <svg id="coordinate-svg" class="map-svg" width="1200" height="1000" >
                        <polygon data-id="{{ region.id }}" points="{{ region.polygon }}"></polygon>
                    </svg>
                    <i id="center-polygon" class="fa fa-map-marker-alt"></i>
                    <div class="scheme-item" data-id="{{ region.id }}" style="top: {{ region.pointX }}px; left: {{ region.pointY }}px;">
                        <div class="scheme-name">{{ region.name }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}